<html>
<body>
    <h1>会員情報</h1>

    <div style="width:300px; border:1px solid #ccc; padding:20px;">
        <form method="post">
            {% csrf_token %}

            <p>会員ID</p>
            {{ form.user_id }}

            <p>パスワード</p>
            {{ form.password }}

            <p>パスワード（確認）</p>
            {{ form.password_confirm }}

            <p>お名前</p>
            {{ form.name }}

            <p>ご住所</p>
            {{ form.address }}

            <br>
            <button type="submit">変更</button>
        </form>
    </div>
    <br>
    <a href="/accounts/UserUpdate/">退会する（リンクがまだですぜ）</a>
    <br>
    <a href="/accounts/UserUpdate/">購入履歴「任意機能」へ（リンクがまだですぜ）</a>
    <a href="/accounts/UserUpdate/">商品検索へ（リンクがまだですぜ）</a>
</body>
</html>
