<html>
<body>
    <h1>以下の会員情報で更新しました。</h1>

    <table border="1">
        <tr>
            <th>会員ID</th>
            <td>{{ data.user_id }}</td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>
                {% for i in data.password %}*{% endfor %}
            </td>
        </tr>
        <tr>
            <th>お名前</th>
            <td>{{ data.name }}</td>
        </tr>
        <tr>
            <th>ご住所</th>
            <td>{{ data.address }}</td>
        </tr>
    </table>

    </div>
    <br>
    <a href="/accounts/UserUpdate/">商品検索へ（リンクがまだですぜ）</a>
</body>
</html>
